[user]
	email = lemunozm@gmail.com
	name = lemunozm
	signingkey = EFFAB5F94B702FA9
[pull]
	ff = only
[fetch]
    prune = true
[core]
    editor = nvim
	pager = nvimpager -p
	excludesFile = ~/.gitignore
	hooksPath = ~/.config/git/hooks
[commit]
	gpgSign = true
